<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head('Sistema de Clientes - Spring')}"></head>

    <body>
        <header th:replace="~{base::cabecalho}"></header>
        <main>
            <h1>Sistema de Clientes</h1>
            <h4>Lista de Clientes</h4>
            <table class="conteudo-principal table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">CPF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c: ${clientes}">
                        <td scope="row" th:text="${c.id}"></td>
                        <td th:text="${c.nome}"></td>
                        <td th:text="${c.cpf}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/cliente/editar/'+${c.id}}">Editar</a>
                            <a class="btn btn-danger" th:href="@{'/cliente/deletar/'+${c.id}}">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

    </body>
</html>