<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Cliente</title>
</head>
<body>
    <h5>Insira os dados do cliente:</h5>
    <form action="/cliente/salvar/" method="post">
        <input type="hidden" name="id" id="id" th:value="${cliente.id}">
        NOME: <input type="text" name="nome" id="nome" th:value="${cliente.nome}"><br/>
        CPF: <input type="text" name="cpf" id="cpf" th:value="${cliente.cpf}"><br/>
        <input type="submit" value="Salvar">
    </form>

    <a href="/cliente">Listar clientes</a>
</body>
</html>