<!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Clientes - Spring</title>
    </head>

    <body>
        <h1>Sistema de Clientes</h1>

        <h4>Lista de Clientes</h4>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c: ${clientes}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.nome}"></td>
                    <td th:text="${c.cpf}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>